<!-- Template fait -->

<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil - StageUp</title>
    <link rel="icon" href="/static/images/Sta_eUp_2.png">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <header>
        <nav>
            <div class="logo">
                <a href="accueil.html"><img src="/static/images/Sta_eUp_3.png" alt="logo"></a>
            </div>

            <div class="menu">
                <ul class="menu_interact">
                    <li><a href="recherche.html"><img src="/static/images/book-open-white.png" alt="offres">Recherches</a></li>
                    <li><a href="dashboard.html"><img src="/static/images/Account.png" alt="account">Dashboard</a></li>
                </ul>
            </div>
        </nav>
    </header>
    
    <main>
        <div class="menu_recherche">
            <form class="recherche">
                <label for="quoi">Quoi :</label>
                <input type="text" id="quoi" name="quoi" placeholder="Que recherchez-vous ?">

                <label for="ou">Où :</label>
                <input type="text" id="ou" name="ou" placeholder="Où ?">
                <div class="bouton_recherche">
                    <button type="reset" class="bouton_"><img src="/static/images/refresh-ccw_1.png"
                            alt="refresh-ccw_1">Réinitialiser</button>
                    <button type="submit" class="bouton_"><img src="/static/images/search_1.png"
                            alt="search_1">Rechercher</button>
                </div>
            </form>
        </div>

        <ul class="navbar_dashboard">
            <li><a href="wishlist.html">Wishlist</a></li>
            <li><a href="#">Mes CV</a></li>
            <li><a href="offre_postule.html">Offres Postulées</a></li>
        </ul>

        <form>
            <h2>CV</h2>
            <input type="file">

            <div class="grp_bouton">
                <button type="submit" class="bouton_">Ajouter</button>
                <button type="reset" class="bouton_">Réinitialiser</button>
            </div>
        </form>

    </main>
    <footer>
        <p>
            &copy; 2025 StageUp Tous droits réservés. | <a href="#">Mentions légales - </a>
            <a href="#">Conditions générales d'utilisation - </a>
            <a href="#">Politique de confidentialité des données - </a>
            <a href="#">Cookies - </a>
            <a href="#">Contact</a>
        </p>
    </footer>

    <script src="/static/js/script.js"></script>
</body>

</html>