<div class="contenu_bouton_filtres">
    <button class="bouton_filtre" id="bouton_filtre">Filtres</button>
</div>

<form method="GET" action="?uri=recherche">
    <input type="hidden" name="uri" value="recherche">
    <div class="filtres" id="filtres">
        <label for="entreprise">Entreprise :</label>
        <select id="entreprise" name="entreprise">
            <option value="{{ filtre_entreprise }}">{{ filtre_entreprise }}</option>
            <option value="Toutes">Toutes</option>
            {% for filtre in filtres.entreprise %}
                <option value="{{ filtre.nom }}">{{ filtre.nom }}</option>
            {% endfor %}
        </select>

        <label for="ville">Ville :</label>
        <select id="ville" name="ville">
            <option value="{{ filtre_ville }}">{{ filtre_ville }}</option>
            <option value="Toutes">Toutes</option>
            {% for filtre in filtres.ville %}
                <option value="{{ filtre.nom_ville }}">{{ filtre.nom_ville }}</option>
            {% endfor %}
        </select>

        <button type="submit" id="valider">Valider les filtres</button>
    </div>
</form>