<table>
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Courriel</th>
            <th>Statistiques</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Donnée 1</td>
            <td>Donnée 2</td>
            <td>Donnée 3</td>
            <td><button type="submit" class="bouton_">Ajouter</button></td>
            <td>
                <div class="grp_bouton">
                    <button type="submit" class="bouton_">Ajouter</button>
                    <button type="submit" class="bouton_">Supprimer</button>
                </div>
            </td>
        </tr>
        <tr>
            <td>Donnée 5</td>
            <td>Donnée 6</td>
            <td>Donnée 7</td>

            <td><button type="submit" class="bouton_">Ajouter</button></td>
            <td>
                <div class="grp_bouton">
                    <button type="submit" class="bouton_">Ajouter</button>
                    <button type="submit" class="bouton_">Supprimer</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>