<div class="contenu_bouton_filtres">
    <button class="bouton_filtre" id="bouton_filtre">Filtres</button>
</div>

<div class="filtres" id="filtres">
    <label for="entreprise">Entreprise :</label>
    <select id="entreprise" name="entreprise">
        <option value="exia">Exia</option>
        <option value="google">Google</option>
        <option value="microsoft">Microsoft</option>
    </select>

    <label for="lieu">Lieu :</label>
    <select id="lieu" name="lieu">
        <option value="orleans">Orléans</option>
        <option value="paris">Paris</option>
        <option value="lyon">Lyon</option>
    </select>

    <button id="valider">Valider les filtres</button>
</div>