<form>
    <h2>Nom de l'entreprise</h2>
    <input type="text">

    <h2>Villes</h2>
    <label for="select_ville">Sélectionnez une ville</label>
    <select id="borne-select_ville">
        <option value="">-- Choisissez une ville --</option>
        <option value="ville1">Orléans</option>
        <option value="ville2">Olivet</option>
        <option value="ville3">Jargeau</option>
    </select>

    <h2>Présentation de l'entreprise</h2>
    <textarea></textarea>

    <h2>Image illustration</h2>
    <input type="file">


    <h2>Contacts</h2>
    <div class="contact">
        <label>Téléphone <input type="text"></label>
        <label>Email <input type="email"></label>
    </div>
    <div class="grp_bouton">
        <button type="submit" class="bouton_">Postuler</button>
        <button type="reset" class="bouton_">Réinitialiser</button>
    </div>
</form>