<div class="menu_recherche">
    <form class="recherche">
        <label for="quoi">Quoi :</label>
        <input type="text" id="quoi" name="quoi" placeholder="Que recherchez-vous ?">

        <label for="ou">Où :</label>
        <input type="text" id="ou" name="ou" placeholder="Où ?">
        <div class="bouton_recherche">
            <button type="reset" class="bouton_"><img src="/static/images/refresh-ccw_1.png"
                    alt="refresh-ccw_1">Réinitialiser</button>
            <button type="submit" class="bouton_"><img src="/static/images/search_1.png"
                    alt="search_1">Rechercher</button>
        </div>
    </form>
</div>