{% include 'composants/base_haut.twig.html' %}

<body>
    {% include 'composants/header.twig.html' %}
    <main>
        {% include 'composants/menu_recherche.twig.html' %}

        <article class="article_bienvenue">
            <h1>Bienvenue sur StageUp !</h1>
            <p>Le développement informatique est un domaine en constante évolution, où les technologies, les langages et
                les
                outils progressent à un rythme effréné. Chaque jour, de nouvelles innovations voient le jour, offrant
                aux
                développeurs des solutions toujours plus performantes pour répondre aux besoins du marché. Que ce soit
                dans
                le domaine du web, de l'intelligence artificielle ou encore de la cybersécurité, les opportunités sont
                nombreuses et variées. Il est essentiel pour tout professionnel de rester à jour sur les tendances,
                d'expérimenter de nouvelles approches et d'adopter les bonnes pratiques pour garantir des résultats
                optimaux.</p>
        </article>

        <article class="dernieres_offres">
            <h1>Dernières offres</h1>

            
            <div class="conteneurs_dernieres_offres">
            {% for offre in offres %}
                {% set entreprise = entreprises[offre.id_entreprises] %}
                <div class="offres">
                    <p class="titre_derniere_offre">{{offre.titre}}</p>
                    <p class="entreprise_derniere_offre">{{entreprise.nom}}</p>
                    <div class="informations">
                        <p>Mise en ligne {{offre.mise_en_ligne}} </p>
                        <a href="/?uri=offre&id={{offre.id_offre}}">Voir l'offre</a>
                        <form method="POST" action="?uri=ajout_wishlist&page=accueil" class="formulaire_ajout_wishlist">
                            <button type="submit" class="fav_bouton" id="fav_button_{{offre.id_offre}}" name="id_offre" value="{{ offre.id_offre }}">💜</button>
                        </form>
                    </div>
                </div>
            {% endfor %}

            </div>
        </article>

        <article class="entreprises_reconnues">
            <h1>Des entreprises reconnues</h1>
            <div class="entreprises_reconnues_conteneur">
                <p>Le développement informatique est un domaine en constante
                    évolution, où les technologies, les langages et
                    les
                    outils progressent à un rythme effréné. Chaque jour, de nouvelles innovations voient le jour,
                    offrant
                    aux
                    développeurs des solutions toujours plus performantes pour répondre aux besoins du marché. Que ce
                    soit
                    dans
                    le domaine du web, de l'intelligence artificielle ou encore de la cybersécurité, les opportunités
                    sont
                    nombreuses et variées. Il est essentiel pour tout professionnel de rester à jour sur les tendances,
                    d'expérimenter de nouvelles approches et d'adopter les bonnes pratiques pour garantir des résultats
                    optimaux.</p>
                <img src="/static/images/entreprises_reconnues.png" alt="ime">
            </div>
        </article>

        <article id="candidature_simple">
            <h1>Un suivi de candidature simplifié !</h1>
            <div class="candidature_simple_conteneur">
                <img src="/static/images/simple_candidature.png" alt="ime">
                <p>Le développement informatique est un domaine en constante
                    évolution, où les technologies, les langages et
                    les
                    outils progressent à un rythme effréné. Chaque jour, de nouvelles innovations voient le jour,
                    offrant
                    aux
                    développeurs des solutions toujours plus performantes pour répondre aux besoins du marché. Que ce
                    soit
                    dans
                    le domaine du web, de l'intelligence artificielle ou encore de la cybersécurité, les opportunités
                    sont
                    nombreuses et variées. Il est essentiel pour tout professionnel de rester à jour sur les tendances,
                    d'expérimenter de nouvelles approches et d'adopter les bonnes pratiques pour garantir des résultats
                    optimaux.</p>

            </div>
        </article>
    </main>
</body>
{% include 'composants/footer.twig.html' %}