{% include 'composants/base_haut.twig.html' %}

<body>
    {% include 'composants/header.twig.html' %}
    <main>
        {% include 'composants/menu_recherche.twig.html' %}

        {% include 'composants/navbar_dashboard.twig.html' %}

        {% include 'composants/formulaire_add_enterprise.twig.html' %}
        <form action="/?uri=statistique_entreprise" method="post">
            <div class="grp_bouton"><button type="submit" name="voir" class="bouton_">Voir les statistiques des entreprises</button></div>
        </form>

        <table>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for selection in entreprise %}
                <tr>
                    <td>{{selection.nom}}</td>
                    <td>
                        <form action="/?uri=page_modifier_entreprise" method="POST">
                            <div class="grp_bouton">
                                <button type="submit" class="bouton_" name="modif" value="{{selection.id_entreprise}}">Modifier</button>
                                <button type="submit" class="bouton_" name="supp" value="{{selection.id_entreprise}}">Supprimer</button>
                            </div>
                        </form> 
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>
<script src="/static/js/formulaire_add_entreprise.js"></script>
{% include 'composants/footer.twig.html' %}