{% include 'morceaux/base_haut.twig.html' %}

<body class="bodyconnexion">
    <main class="mainconnexion">
        <div class="logoconnexion">
            <img src="/static/images/Sta_eUp_3.png" alt="logo">
        </div>
        <div class="connexion">
            <form class="formulaire_connexion" method="POST" action="?uri=login">
                <h2>Connexion</h2>
                <div class="entrees_utilisateurs">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="Entrez votre email" required>
                </div>
                <div class="entrees_utilisateurs">
                    <label for="password">Mot de passe</label>
                    <input type="password" id="password" name="password" placeholder="Entrez votre mot de passe"
                        required>
                    <p><a href="">Mot de passe oublié ?</a></p>
                </div>
                <button type="submit" class="bouton_interact">Se connecter</button>
                <p>Vous n'avez pas de compte ? <br><a href="#">Contactez-nous</a> !</p>
            </form>
        </div>
        <a href="/?uri=accueil">Lien temporaire pour bypass la connexion et tester le site</a>
    </main>

</body>

</html>