{% include 'composants/base_haut.twig.html' %}

<body>
    {% include 'composants/header.twig.html' %}
    <main>
        {% include 'composants/menu_recherche.twig.html' %}
        
        <h1>Entreprise eXia</h1>
        <img src="#" alt="image de l'entreprise">

        <h2>Présentation de l'entreprise</h2>
        <p>Le développement informatique est un domaine en constante évolution, où les technologies, les langages et
            les
            outils progressent à un rythme effréné. Chaque jour, de nouvelles innovations voient le jour, offrant
            aux
            développeurs des solutions toujours plus performantes pour répondre aux besoins du marché. Que ce soit
            dans
            le domaine du web, de l'intelligence artificielle ou encore de la cybersécurité, les opportunités sont
            nombreuses et variées. Il est essentiel pour tout professionnel de rester à jour sur les tendances,
            d'expérimenter de nouvelles approches et d'adopter les bonnes pratiques pour garantir des résultats
            optimaux.</p>
        <h2>Localisation de l'entreprise</h2>
        <p>Région Centre-Val-de-Loire, Orléans 45000</p>

        <h2>Contact de l'entreprise</h2>
        <p>Numéro de téléphone : 0123456789</p>
        <p>Adresse e-mail : mail@mail.cfr</p>

        <h2>Nombre d'étudiants ayant postuler dans cette entreprise</h2>
        <p>12345789 étudaints ont postulé à une offre publiée par cette entreprise</p>

        <h2>Offres postulées dans cette entreprise</h2>
        <p>Stage Informatique H/F</p>

        <form method="POST" action="/?uri=note_entreprise">
            <h2>Note de l'entreprise</h2>
            <div class="note_entreprise">
                <input type="radio" id="star5" name="rating" value="5" required>
                <label for="star5">★</label>
                <input type="radio" id="star4" name="rating" value="4">
                <label for="star4">★</label>
                <input type="radio" id="star3" name="rating" value="3">
                <label for="star3">★</label>
                <input type="radio" id="star2" name="rating" value="2">
                <label for="star2">★</label>
                <input type="radio" id="star1" name="rating" value="1">
                <label for="star1">★</label>
            </div>
        
            <h2>Commentaires supplémentaires</h2>
            <textarea name="comments" maxlength="500" placeholder="Entrez vos commentaires ici" required></textarea>
        
            <div class="grp_bouton">
                <button type="submit" class="bouton_">Envoyer</button>
                <button type="reset" class="bouton_">Réinitialiser</button>
            </div>
        </form>
        

    </main>
</body>
<script src="/static/js/formulaire_note_entreprise.js"></script>
{% include 'composants/footer.twig.html' %}