{% include 'composants/base_haut.twig.html' %}

<body>
    {% include 'composants/header.twig.html' %}
    <main>
        {% include 'composants/menu_recherche.twig.html' %}
        
        <h1>
            <form method="POST" action="?uri=ajout_wishlist&page=offre&id={{offre.id_offre}}" class="formulaire_ajout_wishlist">
                {{offre.titre}}
                <button type="submit" class="fav_bouton" id="fav_button" name="id_offre" value="{{ offre.id_offre }}">💜</button>
            </form>
        </h1>
        <h3>Résumé de l'offre</h3>

        <ul class="competences">
            <li>{{ duree }} mois</li>
            {% for c in competence %}
                <li>{{ c.competence }}</li>
            {% endfor %}
        </ul>
        <p>Nombre de personne ayant postulées à cette offre : {{nombre}}</p>
        <img src="/static/uploads/entreprises/{{entreprise.nom}}.svg" alt="image de l'entreprise" id="image_entreprise">
        <h2>Présentation de l'entreprise</h2>
        <p>{{ entreprise.description }}</p>
        <h2>Présentation du poste</h2>
        <p>{{ offre.description }}</p>

        <div class="conteneur_formulaire">
            <h2>Votre message au recruteur</h2>

            <form id="formulaire_offre" action="/?uri=postuler" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="id_offre" value="{{offre.id_offre}}">
                <div class="entrees_utilisateur">
                    <textarea id="description" name="message_recruteur" placeholder="Écrivez quelque chose..."
                        required></textarea>
                </div>

                <div class="entrees_utilisateur">
                    <label for="fichier">Lettre de motivation</label>
                    <input type="file" id="fichier" name="lettre_motivation" class="file-input" accept=".pdf,.doc,.docx,.txt,.odt"
                        required>
                </div>

                <h2>Informations supplémentaires</h2>
                <p>Le développement informatique est un domaine en constante évolution...</p>
                {% if postuler == false %}
                {% if role == 'Etudiant' or role == 'Administrateur' %}
                    <div class="grp_bouton">
                        <button type="submit" class="bouton_">Postuler</button>
                        <button type="reset" class="bouton_">Réinitialiser</button>
                    </div>
                {% endif %}
                {% endif %}
            </form>
        </div>
        {% if role == 'Administrateur' or role == 'Pilote' %}
            <form action="/?uri=page_modifier_offre" method="POST">
                <div class="grp_bouton">
                    <button type="submit" class="bouton_" name="modif" value="{{offre.id_offre}}">Modifier</button>
                    <button type="submit" class="bouton_" name="supp" value="{{offre.id_offre}}">Supprimer</button>
                </div>
            </form> 
            <form action="/?uri=statistique_offre" method="post">
                <div class="grp_bouton"><button type="submit" name="voir" class="bouton_">Voir les statistiques des offres</button></div>
            </form>
        {% endif %}
    </main>
</body>
<script src="/static/js/formulaire_postuler_offre.js"></script>
{% include 'composants/footer.twig.html' %}