{% include 'composants/base_haut.twig.html' %}

<body>
    {% include 'composants/header.twig.html' %}
    <main>
        {% include 'composants/menu_recherche.twig.html' %}

        <article class="affichage_offre">
            <h1>Plus de 5000 offres disponibles !</h1>

            {% include 'composants/bouton_filtre.twig.html' %}

            {% include 'composants/offre_entreprise.twig.html' %}

        </article>
        <form method="POST" action="?uri=recherche">
            <div class="container_page">
                <a class="btn_pagination"
                {% if page_actuelle == 1 %}
                    style="background-color: grey"
                {% endif %}
        
                {% if page_actuelle > 1 %}
                    href=?uri=recherche&p={{page_actuelle - 1}}
                {% endif %}
                >Précédent</a>
                
                {% set taille = nb_pages // 5 %}
                {% if taille > 5 %}
                    <a href="?uri=recherche&p=1&entreprise={{ filtre_entreprise }}&ville={{ filtre_ville }}" class="btn_pagination">1</a>
                    <a href="?uri=recherche&p=2&entreprise={{ filtre_entreprise }}&ville={{ filtre_ville }}" class="btn_pagination">2</a>
                    <a href="?uri=recherche&p=3&entreprise={{ filtre_entreprise }}&ville={{ filtre_ville }}" class="btn_pagination">3</a>
                    <a class="btn_pagination">...</a>
                    <a href="?uri=recherche&p={{ (nb_pages // 5) }}&entreprise={{ filtre_entreprise }}&ville={{ filtre_ville }}" class="btn_pagination">{{ (nb_pages // 5) }}</a>
                {% endif %} 
                
                {% if taille <= 5 %}
                    {% for i in range(1, nb_pages // 5 + 1) %}
                        <a href="?uri=recherche&p={{ i }}&entreprise={{ filtre_entreprise }}&ville={{ filtre_ville }}" class="btn_pagination">{{ i }}</a>
                    {% endfor %}
                {% endif %}
        
                <a class="btn_pagination"
                {% if page_actuelle >= nb_pages // 5%}
                    style="background-color: grey"
                {% endif %}
                
                
                {% if page_actuelle < nb_pages // 5 %}
                    href=?uri=recherche&p={{page_actuelle + 1}}
                {% endif %}
                >Suivant</a>
                </div>
            </div>
        </form>
    </main>
</body>
{% include 'composants/footer.twig.html' %}