{% include 'composants/base_haut.twig.html' %}

<body>
    {% include 'composants/header.twig.html' %}
    <main>
        {% include 'composants/menu_recherche.twig.html' %}

        <article class="affichage_offre">
            <h1>Plus de 5000 offres disponibles !</h1>

            {% include 'composants/bouton_filtre.twig.html' %}
            {% include 'composants/offre.twig.html' %} 
            <!-- {% include 'composants/entreprise.twig.html' %} -->
             

        </article>
    </main>
</body>
{% include 'composants/footer.twig.html' %}