{% include 'composants/base_haut.twig.html' %}

<body>
  {% include 'composants/header.twig.html' %}
  <main>
    {% include 'composants/menu_recherche.twig.html' %}

    <h2>Statistique des offres</h2>
    <h3>Nombre d'offres :</h3>
    <p>Il y a {{offre}} offres de stages proposées.</p>

    <h3>Top 5 des offres en wishlist</h3>
    <ol>
      {% for w in wishlist%}
      <li>{{w.titre}}</li>
      {% endfor %}
    </ol>

    <h3>Répartition des durées de stage</h3>
    <table>
      <thead>
        <tr>
          <th>Durée</th>
          <th>Nombre par durée</th>
        </tr>
      </thead>
      <tbody>
        {% for duree in duree %}
        <tr>
          <td>{{duree.duree_stage}}</td>
          <td>{{duree.nombre_offres}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <h3>Répartition des compétences</h3>
    <table>
      <thead>
        <tr>
          <th>Compétences</th>
          <th>Nombre par compétences</th>

        </tr>
      </thead>
      <tbody>
        {% for comp in competence %}
        <tr>
          <td>{{comp.competence}}</td>
          <td>{{comp.nombre_offres}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </main>
</body>
{% include 'composants/footer.twig.html' %}