{% include 'composants/base_haut.twig.html' %}

<body>
    {% include 'composants/header.twig.html' %}
    <main>
        {% include 'composants/menu_recherche.twig.html' %}

        <h2>Statistique des entreprise</h2>
        <h3>Nombre d'entreprises :</h3>
        <p>Il y a {{total.nombre_entreprises}} entreprises sur le site.</p>

        <h3>Répartition des entreprises dans les villes</h3>
        <table>
            <thead>
                <tr>
                    <th>Villes</th>
                    <th>Nombre par villes</th>

                </tr>
            </thead>
            <tbody>
                {% for select in selection%}
                <tr>
                    <td>{{select.nom_ville}}</td>
                    <td>{{select.nombre_entreprises}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>
{% include 'composants/footer.twig.html' %}