{% include 'composants/base_haut.twig.html' %}

<body>
    {% include 'composants/header.twig.html' %}
    <main>
        {% include 'composants/menu_recherche.twig.html' %}

        {% include 'composants/navbar_dashboard.twig.html' %}

        {% include 'composants/formulaire_add_account_admin.twig.html' %}

        {% include 'composants/affichage_account_admin.twig.html' %}

    </main>
</body>
<script src="/static/js/formulaire_add_account.js"></script>
{% include 'composants/footer.twig.html' %}