<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil - StageUp</title>
    <link rel="icon" href="/static/images/Sta_eUp_2.png">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <header>
        <nav>
            <div class="logo">
                <a href="accueil.html"><img src="/static/images/Sta_eUp_3.png" alt="logo"></a>
            </div>

            <div class="menu">
                <ul class="menu_interact">
                    <li><a href="recherche.html"><img src="/static/images/book-open-white.png" alt="offres">Recherches</a></li>
                    <li><a href="dashboard.html"><img src="/static/images/Account.png" alt="account">Dashboard</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <div class="menu_recherche">
            <form class="recherche">
                <label for="quoi">Quoi :</label>
                <input type="text" id="quoi" name="quoi" placeholder="Que recherchez-vous ?">

                <label for="ou">Où :</label>
                <input type="text" id="ou" name="ou" placeholder="Où ?">
                <div class="bouton_recherche">
                    <button type="reset" class="bouton_"><img src="/staticimages/refresh-ccw_1.png"
                            alt="refresh-ccw_1">Réinitialiser</button>
                    <button type="submit" class="bouton_"><img src="/static/images/search_1.png"
                            alt="search_1">Rechercher</button>
                </div>
            </form>
        </div>

        <article class="article_bienvenue">
            <h1>Bienvenue sur StageUp !</h1>
            <p>Le développement informatique est un domaine en constante évolution, où les technologies, les langages et
                les
                outils progressent à un rythme effréné. Chaque jour, de nouvelles innovations voient le jour, offrant
                aux
                développeurs des solutions toujours plus performantes pour répondre aux besoins du marché. Que ce soit
                dans
                le domaine du web, de l'intelligence artificielle ou encore de la cybersécurité, les opportunités sont
                nombreuses et variées. Il est essentiel pour tout professionnel de rester à jour sur les tendances,
                d'expérimenter de nouvelles approches et d'adopter les bonnes pratiques pour garantir des résultats
                optimaux.</p>
        </article>

        <article class="dernieres_offres">
            <h1>Dernières offres</h1>
            <div class="conteneurs_dernieres_offres">
                <div class="offres">
                    <p class="titre_derniere_offre">Stage informatique H/F</p>
                    <p class="entreprise_derniere_offre">EXIA</p>
                    <div class="informations">
                        <p>Date de mise en ligne 24/02/2025</p>
                        <a href="offre_onclick.html">Voir l'offre</a>
                        <button class="fav_bouton" onclick="toggleFavoris(this)">💜</button>
                    </div>
                </div>
                <div class="offres">
                    <p class="titre_derniere_offre">Stage informatique H/F</p>
                    <p class="entreprise_derniere_offre">EXIA</p>
                    <div class="informations">
                        <p>Date de mise en ligne 24/02/2025</p>
                        <a href="offre_onclick.html">Voir l'offre</a>
                        <button class="fav_bouton" onclick="toggleFavoris(this)">💜</button>
                    </div>
                </div>
                <div class="offres">
                    <p class="titre_derniere_offre">Stage informatique H/F</p>
                    <p class="entreprise_derniere_offre">EXIA</p>
                    <div class="informations">
                        <p>Date de mise en ligne 24/02/2025</p>
                        <a href="offre_onclick.html">Voir l'offre</a>
                        <button class="fav_bouton" onclick="toggleFavoris(this)">💜</button>
                    </div>
                </div>
                <div class="offres">
                    <p class="titre_derniere_offre">Stage informatique H/F</p>
                    <p class="entreprise_derniere_offre">EXIA</p>
                    <div class="informations">
                        <p>Date de mise en ligne 24/02/2025</p>
                        <a href="offre_onclick.html">Voir l'offre</a>
                        <button class="fav_bouton" onclick="toggleFavoris(this)">💜</button>
                    </div>
                </div>

                <div class="offres">
                    <p class="titre_derniere_offre">Stage informatique H/F</p>
                    <p class="entreprise_derniere_offre">EXIA</p>
                    <div class="informations">
                        <p>Date de mise en ligne 24/02/2025</p>
                        <a href="offre_onclick.html">Voir l'offre</a>
                        <button class="fav_bouton" onclick="toggleFavoris(this)">💜</button>
                    </div>
                </div>
                <div class="offres">
                    <p class="titre_derniere_offre">Stage informatique H/F</p>
                    <p class="entreprise_derniere_offre">EXIA</p>
                    <div class="informations">
                        <p>Date de mise en ligne 24/02/2025</p>
                        <a href="offre_onclick.html">Voir l'offre</a>
                        <button class="fav_bouton" onclick="toggleFavoris(this)">💜</button>
                    </div>
                </div>
                <div class="offres">
                    <p class="titre_derniere_offre">Stage informatique H/F</p>
                    <p class="entreprise_derniere_offre">EXIA</p>
                    <div class="informations">
                        <p>Date de mise en ligne 24/02/2025</p>
                        <a href="offre_onclick.html">Voir l'offre</a>
                        <button class="fav_bouton" onclick="toggleFavoris(this)">💜</button>
                    </div>
                </div>
                <div class="offres">
                    <p class="titre_derniere_offre">Stage informatique H/F</p>
                    <p class="entreprise_derniere_offre">EXIA</p>
                    <div class="informations">
                        <p>Date de mise en ligne 24/02/2025</p>
                        <a href="offre_onclick.html">Voir l'offre</a>
                        <button class="fav_bouton" onclick="toggleFavoris(this)">💜</button>
                    </div>
                </div>
            </div>
        </article>

        <article class="entreprises_reconnues">
            <h1>Des entreprises reconnues</h1>
            <div class="entreprises_reconnues_conteneur">
                <p>Le développement informatique est un domaine en constante
                    évolution, où les technologies, les langages et
                    les
                    outils progressent à un rythme effréné. Chaque jour, de nouvelles innovations voient le jour,
                    offrant
                    aux
                    développeurs des solutions toujours plus performantes pour répondre aux besoins du marché. Que ce
                    soit
                    dans
                    le domaine du web, de l'intelligence artificielle ou encore de la cybersécurité, les opportunités
                    sont
                    nombreuses et variées. Il est essentiel pour tout professionnel de rester à jour sur les tendances,
                    d'expérimenter de nouvelles approches et d'adopter les bonnes pratiques pour garantir des résultats
                    optimaux.</p>
                <img src="/static/images/entreprises_reconnues.png" alt="ime">
            </div>
        </article>

        <article id="candidature_simple">
            <h1>Un suivi de candidature simplifié !</h1>
            <div class="candidature_simple_conteneur">
                <img src="/static/images/simple_candidature.png" alt="ime">
                <p>Le développement informatique est un domaine en constante
                    évolution, où les technologies, les langages et
                    les
                    outils progressent à un rythme effréné. Chaque jour, de nouvelles innovations voient le jour,
                    offrant
                    aux
                    développeurs des solutions toujours plus performantes pour répondre aux besoins du marché. Que ce
                    soit
                    dans
                    le domaine du web, de l'intelligence artificielle ou encore de la cybersécurité, les opportunités
                    sont
                    nombreuses et variées. Il est essentiel pour tout professionnel de rester à jour sur les tendances,
                    d'expérimenter de nouvelles approches et d'adopter les bonnes pratiques pour garantir des résultats
                    optimaux.</p>

            </div>
        </article>
    </main>
    <footer>
        <p>
            &copy; 2025 StageUp Tous droits réservés. | <a href="#">Mentions légales - </a>
            <a href="#">Conditions générales d'utilisation - </a>
            <a href="#">Politique de confidentialité des données - </a>
            <a href="#">Cookies - </a>
            <a href="#">Contact</a>
        </p>
    </footer>

    <script src="/static/js/script.js"></script>
</body>

</html>