<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil - StageUp</title>
    <link rel="icon" href="/static/images/Sta_eUp_2.png">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <header>
        <nav>
            <div class="logo">
                <a href="accueil.html"><img src="/static/images/Sta_eUp_3.png" alt="logo"></a>
            </div>

            <div class="menu">
                <ul class="menu_interact">
                    <li><a href="recherche.html"><img src="/static/images/book-open-white.png" alt="offres">Recherches</a></li>
                    <li><a href="dashboard.html"><img src="/static/images/Account.png" alt="account">Dashboard</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <div class="menu_recherche">
            <form class="recherche">
                <label for="quoi">Quoi :</label>
                <input type="text" id="quoi" name="quoi" placeholder="Que recherchez-vous ?">

                <label for="ou">Où :</label>
                <input type="text" id="ou" name="ou" placeholder="Où ?">
                <div class="bouton_recherche">
                    <button type="reset" class="bouton_"><img src="/static/images/refresh-ccw_1.png"
                            alt="refresh-ccw_1">Réinitialiser</button>
                    <button type="submit" class="bouton_"><img src="/static/images/search_1.png"
                            alt="search_1">Rechercher</button>
                </div>
            </form>
        </div>

        <ul class="navbar_dashboard">
            <li><a href="add_offer.html">Créer/Modifier une offre</a></li>
            <li><a href="add_account.html">Gestion des comptes</a></li>
            <li><a href="add_enterprise.html">Créer/Modifier une entreprise</a></li>
        </ul>

<form>
    <table>
        <thead>
            <tr>
                <th colspan="2">Formulaire d'inscription</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><label for="account_type">Civilité</label></td>
                <td>
                    <select id="account_type">
                        <option value="type1">Etudiant</option>
                        <option value="type2">Pilote</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="nom">Nom</label></td>
                <td><input type="text" id="nom"></td>
            </tr>
            <tr>
                <td><label for="prenom">Prénom</label></td>
                <td><input type="text" id="prenom"></td>
            </tr>
            <tr>
                <td><label for="courriel">Courriel</label></td>
                <td><input type="email" id="courriel"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="grp_bouton">
                        <button type="submit" class="bouton_">Ajouter</button>
                        <button type="reset" class="bouton_">Réinitialiser</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</form>

        

        <table>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Courriel</th>
                    <th>Type de compte</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Donnée 1</td>
                    <td>Donnée 2</td>
                    <td>Donnée 3</td>
                    <td>Donnée 4</td>
                    <td>
                        <div class="grp_bouton">
                            <button type="submit" class="bouton_">Ajouter</button>
                            <button type="submit" class="bouton_">Supprimer</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Donnée 6</td>
                    <td>Donnée 7</td>
                    <td>Donnée 8</td>
                    <td>Donnée 9</td>
                    <td>
                        <div class="grp_bouton">
                            <button type="submit" class="bouton_">Ajouter</button>
                            <button type="submit" class="bouton_">Supprimer</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>


    </main>
    <footer>
        <p>
            &copy; 2025 StageUp Tous droits réservés. | <a href="#">Mentions légales - </a>
            <a href="#">Conditions générales d'utilisation - </a>
            <a href="#">Politique de confidentialité des données - </a>
            <a href="#">Cookies - </a>
            <a href="#">Contact</a>
        </p>
    </footer>

    <script src="/static/js/script.js"></script>
</body>

</html>