{% include 'composants/base_haut.twig.html' %}

<body>
    {% include 'composants/header.twig.html' %}
    <main>
        {% include 'composants/menu_recherche.twig.html' %}

        {% include 'composants/navbar_dashboard.twig.html' %}

        <form id="registration_form" action="/?uri=modifier_compte" method="POST"> 
            <input type="hidden" name="id_utilisateur" value="{{utilisateur.id_utilisateur}}">
            
            <table> 
                <thead> 
                    <tr> 
                        <th colspan="2">Modifier le compte</th> 
                    </tr> 
                </thead> 
                <tbody> 
                    <tr> 
                        <td><label for="nom">Nom</label></td> 
                        <td><input type="text" id="nom" name="nom" pattern="[A-Za-zéèêëàâäôöùûüç]+" required value={{utilisateur.nom_utilisateur}}></td> 
                    </tr> 
                    <tr> 
                        <td><label for="prenom">Prénom</label></td> 
                        <td><input type="text" id="prenom" name="prenom" pattern="[A-Za-zéèêëàâäôöùûüç]+" required value={{utilisateur.prenom_utilisateur}}></td> 
                    </tr> 
                    <tr> 
                        <td><label for="courriel">Courriel</label></td> 
                        <td><input type="email" id="courriel" name="courriel" required value={{utilisateur.email}}></td> 
                    </tr> 
                    <tr> 
                        <td><label for="password">Mot de passe</label></td> 
                        <td><input type="password" id="password" name="password" required></td> 
                    </tr> 
                    <tr> 
                        <td colspan="2"> 
                            <div class="grp_bouton"> 
                                <button type="submit" class="bouton_">Modifier</button> 
                            </div> 
                        </td> 
                    </tr> 
                </tbody> 
            </table>     
        </form>
        

    </main>
</body>
<script src="/static/js/formulaire_add_account.js"></script>
{% include 'composants/footer.twig.html' %}