{% include 'composants/base_haut.twig.html' %}

{% include 'composants/header.twig.html' %}

<link rel="stylesheet" href="/static/css/styles_contact.css">

<div class="contact-container">
    <h1>Contactez nous</h1>

    <form method="post">
        <div>
            <label for="email">Votre email</label>
            <input type="email" id="email" name="email" placeholder="jean.dupont@gmail.com" required>
        </div>

        <div>
            <label for="type">Type de demande</label>
            <select id="type" name="type" required>
                <option value="">Votre demande</option>
                <option value="support">Support technique</option>
                <option value="proposition">Proposition de stage</option>
                <option value="autre">Autre</option>
            </select>
        </div>

        <div>
            <label for="message">Votre message</label>
            <textarea id="message" name="message" required></textarea>
        </div>

        <button type="submit">Envoyer</button>
    </form>
</div>

{% include 'composants/footer.twig.html' %}