{% include 'composants/base_haut.twig.html' %}

<body>
    {% include 'composants/header.twig.html' %}
    <main>
        {% include 'composants/menu_recherche.twig.html' %}

<form id="company_form" method="POST" action="/?uri=modifier_entreprise" enctype="multipart/form-data">
    <input type="hidden" name="id_entreprise" required value="1">
    <h2>Nom de l'entreprise</h2>
    <input type="text" name="company_name" value="{{selection[0].nom}}" id="company_name" required pattern="[A-Za-z0-9\s\-]+">

    <h2>Villes</h2>
    <label for="select_ville">Sélectionnez une ville</label>
    <select id="borne-select_ville" name="city" required>
        <option value="{{ selection[0].id_ville }}">{{ selection[0].nom_ville }}</option>
    
        {% for v in ville %}
            <option value="{{ v.id_ville }}">{{ v.nom_ville }}</option>
        {% endfor %}
    </select>

    <h2>Présentation de l'entreprise</h2>
    <textarea name="company_description" required aria-required="true">{{selection[0].description}}</textarea>

    <h2>Image illustration</h2>
    <input type="file" name="company_image" accept="image/*"/>

    <h2>Contacts</h2>
    <div class="contact">
        <label for="phone">Téléphone
            <input type="tel" name="phone" id="phone" pattern="^\+?[0-9\s\-()]{7,15}$" required  value="{{selection[0].telephone}}" />
        </label>
        <label for="email">Email
            <input type="email" name="email" id="email" required value="{{selection[0].email_contact}}" />
        </label>
    </div>

    <div class="grp_bouton">
        <button type="submit" class="bouton_">Modifier</button>
    </div>
</form>
<script src="/static/js/formulaire_add_entreprise.js"></script>
{% include 'composants/footer.twig.html' %}