<table>
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Courriel</th>
            <th>Statistiques</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for util in utilisateur %}
        <tr>
            <td>{{util.nom_utilisateur}}</td>
            <td>{{util.prenom_utilisateur}}</td>
            <td>{{util.email}}</td>
            <td>
                <form>
                    <div class="grp_bouton"><button type="submit" class="bouton_">Voir</button></div>
                </form>
            </td>
            <td>
                <form>
                    <div class="grp_bouton">
                        <button type="submit" class="bouton_">Ajouter</button>
                        <button type="submit" class="bouton_">Supprimer</button>
                    </div>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>