<table>
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Courriel</th>
            <th>Type de compte</th>
            <th>Statistiques</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for util in utilisateur %}
        <tr>
            <td>{{util.nom_utilisateur}}</td>
            <td>{{util.prenom_utilisateur}}</td>
            <td>{{util.email}}</td>
            <td>{{util.nom_role}}</td>
            <td>
                {% if util.nom_role == 'Etudiant' %}
                <form action="/?uri=statistique_etudiant" method="POST">
                    <div class="grp_bouton"><button type="submit" name="voir" class="bouton_" value={{util.id_utilisateur}}>Voir</button></div>
                </form>
                {% endif %}
            </td>
            <td>
                <form  action="/?uri=compte" method="POST">
                    <div class="grp_bouton">
                        <button type="submit" class="bouton_" name="modif" value={{util.id_utilisateur}}>Modifier</button>
                        <button type="submit" class="bouton_" name="supp" value={{util.id_utilisateur}}>Supprimer</button>
                    </div>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>