<table>
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Courriel</th>
            <th>Type de compte</th>
            <th>Statistiques</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Nom1</td>
            <td>Prénom1</td>
            <td>Courriel1</td>
            <td>Type1</td>
            <td><div class="grp_bouton"><button type="submit" class="bouton_">Voir</button></div></td>
            <td>
                <div class="grp_bouton">
                    <button type="submit" class="bouton_">Ajouter</button>
                    <button type="submit" class="bouton_">Supprimer</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>