{% for entreprise in entreprises %}
    <div class="entreprise">
        <a href="/?uri=entreprise&id={{ entreprise.id }}" class="offer_link">
            <div class="offre_indiv">
                <div class="details_offre">
                    <p class="titre_offre">
                        {{ entreprise.nom }} 
                        <button class="fav_bouton" onclick="toggleFavoris(this)">💜</button>
                    </p>
                    <p class="entreprise_nom">{{ entreprise.nom }}</p>
                    <p class="entreprise_ville">{{ entreprise.ville }}</p>
                    <p class="entreprise_miseenligne">{{ entreprise.miseenligne }}</p>
                </div>
                <div class="entreprise_image">
                    <img src="/static/images/logo-page.png" alt="Logo entreprise">
                </div>
            </div>
        </a>
    </div>
{% else %}
    <p>Aucune entreprise trouvée.</p>
{% endfor %}
