<form class="add_offer" action="/?uri=formulaire_offre" method="POST" enctype="multipart/form-data">
    <h2>Titre de l'offre</h2>
    <input type="text" id="offer_title" name="offer_title" required placeholder="Titre de l'offre">

    <h2>Entreprises</h2>
    <label for="borne-select_entreprise">Sélectionnez une entreprise</label>
    <select id="borne-select_entreprise" name="entreprise" required>
        <option value="">-- Choisissez une entreprise --</option>
        {% for sel in selection %}
        <option value="{{ sel.id_entreprise }}">{{ sel.nom }} - {{ sel.nom_ville }}</option>
        {% endfor %}
    </select>

    <h2>Compétences</h2>
    <label for="borne-select_competence">Sélectionnez une compétences</label>
    <select id="borne-select_competence" name="competence[]" required>
        <option value="">-- Choisissez une compétence --</option>
        {% for comp in competence %}
        <option value="{{ comp.id_competence }}">{{ comp.competence }}</option>
        {% endfor %}
    </select>

    <select id="borne-select_competence" name="competence[]" required>
        <option value="">-- Choisissez une compétence --</option>
        {% for comp in competence %}
        <option value="{{ comp.id_competence }}">{{ comp.competence }}</option>
        {% endfor %}
    </select>

    <select id="borne-select_competence" name="competence[]" required>
        <option value="">-- Choisissez une compétence --</option>
        {% for comp in competence %}
        <option value="{{ comp.id_competence }}">{{ comp.competence }}</option>
        {% endfor %}
    </select>

    <select id="borne-select_competence" name="competence[]" required>
        <option value="">-- Choisissez une compétence --</option>
        {% for comp in competence %}
        <option value="{{ comp.id_competence }}">{{ comp.competence }}</option>
        {% endfor %}
    </select>


    <h2>Durée du stage</h2>
    <input type="date" id="duration" name="duration_start" required placeholder="Date début du stage">
    <input type="date" id="duration" name="duration_end" required placeholder="Date fin du stage">

    <h2>Rémunération</h2>
    <input type="text" id="remuneration" name="remuneration" required>

    <h2>Niveau d'étude requis</h2>
    <label for="borne-select_niveau">Sélectionnez un niveau d'étude</label>
    <select id="borne-select_niveau" name="niveau[]" required>
        <option value="">-- Choisissez un niveau d'étude --</option>
        {% for niv in niveau %}
        <option value="{{ niv.id_competence }}">{{ niv.competence }}</option>
        {% endfor %}
    </select>

    <h2>Description</h2>
    <textarea id="job_description" name="job_description" required
        placeholder="Détaillez la présentation du poste"></textarea>


    <div class="grp_bouton">
        <button type="submit" class="bouton_">Postuler</button>
        <button type="reset" class="bouton_">Réinitialiser</button>
    </div>
</form>