<div class="offre_stage">
    <a href="/?uri=offre" class="offer_link">
        <div class="offre_indiv">
            <div class="details_offre">
                <p class="titre_offre">Stage Informatique H/F 1<button class="fav_bouton"
                        onclick="toggleFavoris(this)">💜</button></p>
                <p class="entreprise_offre">Exia</p>
                <p class="offre_ville">Orléans</p>
                <p class="offre_date">Mise en ligne il y a 15h</p>
            </div>
            <div class="offre_image">
                <img src="/static/images/logo-page.png" alt="Logo entreprise">
            </div>
        </div>
    </a>
</div>